<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.png">
    <style type="text/css">
        body {
            background-color: bisque;
        }
        #flashes {
            background-color: rebeccapurple;
        }
    </style>
    {% endblock %}
</head>
<body>
    <div><a href="{{ url_for('index') }}">homepage</a></div>
    <div id="flashes">
        {% with msgs = get_flashed_messages() %}
            {% if msgs %}
                {% for msg in msgs %}
                <div>{{ msg }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
